*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg_color: #45122b;
    --menu_color: #a7456e;
    --title_color: #c92873;
    --subtitle_color: #dd1985;
    --theme_color: #ff004f;
}



body{
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
    background: var(--bg_color);
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    
}
.container{
    padding: 20px 5%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}
nav a{
    padding-right: 0px;
    display: flex;
    font-size: 50px;
    text-decoration: none;
    background-color: var(--menu_color);
    background: linear-gradient(to right rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: color-change 5s infinite;
}

@keyframes color-change{
    0% { color: rgb(255, 123, 123); }
    33% { color: rgb(123, 236, 117); }
    66% { color: rgb(140, 127, 255); }
    100% { color: rgb(255, 123, 123); }
}

nav a img{
    display: flex;
    border: 4px solid;
    border-radius: 50%;
    margin-right: 15px;
}

nav a i{
    border: 1px solid;
    display: block;
    padding-top: auto;
    padding-bottom: auto;
    padding: auto;
}
.logo{
    width: 100px ;
    

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px 10px;

}

nav ul li a{
    animation: none;
    border: none;
    padding: 10px 20px;
    color: var(--menu_color);
    text-decoration: none;
    font-size: 30px;
    position: relative;
    display: inline-block; 
    backdrop-filter: blur(10px);
    border-radius: 20px;
    transition: 0.5s;
    &:hover{
        background-color: #ff004f;
        color: white;
    }
}
/* nav ul li a img {
    display: inline-block;

} */

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff00ae;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.header-text{
    display: block;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    color: #f52db2;
    background: transparent;
    margin-top: 5%;
    font-size: 200px;

}

.header-text h1{
    color: #fff;
    font-size: 30px;
    margin-top: min(70px, 5%) ;
    text-align: center;
}

.header-text img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 10px solid;
    animation: pfp-color-change 5s infinite;
}
@keyframes pfp-color-change{
    0% { color: rgb(255, 123, 123); }
    33% { color: var(--theme_color); }
    66% { color: rgb(214, 54, 115); }
    100% { color: rgb(255, 123, 123); }
}

.header-text h1 span{
    display: block;
    color: #ff007b;
    font-size: 80px;
    animation: color-change 4.5s infinite;
}

/* ------------about------------ */

#about{
    padding: 80px 0;
    color: #c06e87;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}


.about-col-2{
    flex-basis: 60%;
}

.about-col-2 p{
    font-size: 27px;
    text-align: justify;
    text-justify: inter-word;
}

.sub-title{
    font-size: 80px;
    font-weight: 600;
    color: var(--subtitle_color);
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}

.tab-links {
    color: var(--menu_color);
    margin-right: 90px;
    font-size: 170px; /* Larger font size for all tabs */
    font-weight: 600; /* Bolder text */
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    &:hover{
        color: var(--theme_color);
    }
}
.tab-links:hover::after{
    width: 25%;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--subtitle_color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 20px 0;
    font-size: 27px;
}

.tab-contents ul li span{
    color: #fff;
    font-size: 30px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;

}

/* --------------services----------- */
#services{
    padding: 30px 0;
}
.services-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #8d4661;
    padding: 40px;
    font-size: 17px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}


.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}


.services-list div a{
    text-decoration: none;
    color: #858cd9;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div a i{
    font-size: 16px;
}

.services-list div:hover{
    background: rgb(109, 10, 48);
    transform: translateY(-10px);
}

/* -------------portfolio-------------- */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;

}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #ff004f;

}

/* ---------------------------contact--------------- */


.contact-left{
    flex-basis: 35%;

}

.contact-right{
    flex-basis: 60%;
    
}


.contact-left p{
    padding-right: -500px;
    margin: 30px;
    transition: 0.5s;
    &:hover{
        transform: translateY(-5px);
    }
}

.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.contact-left p a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    transition: transform 0.5s;
    &:hover{
        color: #ff004f;
    }
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #7d787b;
    display: inline-block;
    transition: transform 0.5s;
}


.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2{
    /* display: inline-block;
    background: #ff004f;
    transition: font-size 0.2s; */
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
    background: var(--bg_color);
    
    background-color: transparent;
    border: 3px solid #ff004f;
    border-radius: 20px;
    color: white;
    background-image: url(images/nav-bg-fill.png);
    background-repeat: repeat-x;
    background-position: 20%-100%;
    transition: 1s ease;
    
    &:hover {
        background-color: transparent;
        background-position: center;
    }
    &:nth-child(1){
        filter: hue-rotate(0deg);
    }
    &:nth-child(2){
        filter: hue-rotate(20deg);
    }
}

.btn.btn2:hover{
    font-size: 20px;
    cursor: pointer;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
    background: var(--bg_color);

    width: 100%;
    border: 0;
    outline: none;
    background: #9a4f73;
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form ::placeholder{
    
    color: #d88db1;
}

form btn2{
    
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #9a4f73;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i{
    color: #ff004f;
}

/* -----------------css for small screens------------- */
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 888px){
    

    #header{
        background-image: url(images/background-phone.png);
        flex-direction: columns;
        align-items: center;
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;

    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        margin-right: -5px;
        margin-top: -5px;

        background: var(--bg_color);
        border: 5px solid var(--theme_color);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid.fa-xmark{
        position: absolute;
        top: 45px;
        left: 25px;
        cursor: pointer;
    }
    .about-col-1{
        flex-basis: 100%;
    }
}