@import url(//fonts.googleapis.com/css?family=Oswald:400);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor:none !important;
}

:root{
    /* new color theme*/
    /* general use (dark mode) */
    --bg-dark: hsl(0,0%,0%);
    --bg: hsl(0,0%,5%);
    --bg-light: hsl(0,0%,10%);
    --text: hsl(0,0%,95%);
    --text-muted: hsl(0,0%,70%);
    --hover-color: hsl(341, 100%, 50%);
    --theme_color: hsl(341, 100%, 50%);

    --cursor-color: hsl(0,0%,100%);
    --cursor-color-change-1: hsl(336, 100%, 78%);
    --cursor-color-change-2: hsl(338, 100%, 88%);
    --cursor-color-change-3: hsl(60, 59%, 93%);
    --cursor-color-change-4: hsl(187, 49%, 69%);

    --pfp-color: hsl(341, 100%, 50%);
    --pfp-color-change-1: hsl(350, 100%, 84%);
    --pfp-color-change-2: hsl(178, 62%, 77%);
    --pfp-color-change-3: hsl(136, 84%, 84%);
    --pfp-color-change-4: hsl(37, 87%, 88%);

    --project-layer-color-up: rgba(255,255,255,0.4);
    --project-layer-color-down: hsl(0,0%,0%);

    /* old color theme*/
    /* --bg_color: #45122b;
    --menu_color: #a7456e;
    --title_color: #c92873;
    --subtitle_color: #dd1985;
    --theme_color: #ff004f;
    --highlight-color: #97bae2;
    --highlight-color-text: #ff0055; */

    /* direct transfer to old TEMP SOLUTION, NEED TO CHANGE ALL OLD VARIABLES TO NEW*/
    --bg_color: var(--bg-dark);
    --menu_color: var(--text);
    --title_color: var(--text);
    --subtitle_color: var(--text);
    
    --highlight-color: #97bae2;
    --highlight-color-text: #ff0055;
}
body.light{
    /* light mode */
    --bg-dark: hsl(0,0%,90%);
    --bg: hsl(0,0%,95%);
    --bg-light: hsl(0,0%,100%);
    --text: hsl(0,0%,5%);
    --text-muted: hsl(0,0%,30%);
    --hover-color: hsl(341, 100%, 50%);
    --theme_color: hsl(341, 100%, 50%);

    --cursor-color: hsl(0, 0%, 100%);
    --cursor-color-change-1: hsl(336, 100%, 22%);
    --cursor-color-change-2: hsl(338, 100%, 12%);
    --cursor-color-change-3: hsl(60, 59%, 7%);
    --cursor-color-change-4: hsl(187, 49%, 31%);

    /* direct transfer to old */
    --bg_color: var(--bg-dark);
    --menu_color: var(--text);
    --title_color: var(--text);
    --subtitle_color: var(--text);

    --project-layer-color-up: rgba(0,0,0,0.4);
    --project-layer-color-down:white;

    transition: 0.5s;

    
    nav ul li{
        align-self: center;
        border-radius: 15px;
        display: inline-block;
        list-style: none;
        margin: 15px 10px;
        transition: 0.2s;
        
        &:hover{
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), -3px -3px 3px rgba(255, 255, 255, 0.4) ;
        }
        &:active{
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4) inset, -3px -3px 3px rgba(255, 255, 255, 0.4) inset;
        }
    }

    .pfp{
        transition: 0.5s;
    }

    .pfp::after, .pfp::before{
        background-image: conic-gradient(from var(--angle), white, black, white, black, white);
    }
}


::-moz-selection { 
    color: var(--highlight-color-text);
    background: var(--highlight-color);
  }
  
::selection {
    color: var(--highlight-color-text);
    background: var(--highlight-color);
  }

html{
    scroll-behavior: smooth;
}

.circle, .circle::before{
    --circle-size: 40px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    background-color: var(--cursor-color);
    border: 5px solid var(--cursor-color);
    border-radius: 100%;
    top: calc(var(--circle-size)/2*-1);
    left: calc(var(--circle-size)/2*-1);
    pointer-events: none;
    animation: cursor-color-change 3s infinite;
    z-index: 1000000000;
}

.circle::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-image: conic-gradient(from var(--angle), #FFAEBC, #A0E7E5, #B4F8C8, #FBE7C6, #FFAEBC); */
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    z-index: -1;
    padding: 8px;
    animation: spin 3s linear infinite;
    filter: blur(1.5rem);
}


@keyframes cursor-color-change{
    0%{border-color: var(--cursor-color-change-1);}
    25%{border-color: var(--cursor-color-change-2);}
    50%{border-color: var(--cursor-color-change-3);}
    75%{border-color: var(--cursor-color-change-4);}
    100%{border-color: var(--cursor-color-change-1);}
}



body{
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
    background: var(--bg-dark);
    color: var(--text-muted);
    transition: 0.5s;
    /* cursor: none !important; */
}

/* body a{
    cursor:none !important;
} */

#header{
    width: 100%;
    height: 100vh;
    /* background-image: url(images/background.png); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container{
    padding: 20px 5%;
}

#scroll-progress, #scroll-progress::before{
    position: fixed;
    top: 0;
    width: 0%;
    height: 4px;
    z-index: 10000;
    animation: bg-color-change 5s infinite;
}
/* failed blur, idk why ........nvm it works*/
#scroll-progress::before{   
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #FFAEBC, #A0E7E5, #B4F8C8, #FBE7C6, #FFAEBC);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    z-index: -1;
    padding: 8px;
    animation: spin 3s linear infinite;
    filter: blur(1.5rem);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0 5%;
    /* backdrop-filter:url(#displacementFilter4); */
    mask: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0)) ;
    backdrop-filter: blur(5px);
}


@keyframes bg-color-change{
    0% { background-color: rgb(255, 123, 123); }
    33% { background-color: rgb(123, 236, 117); }
    66% { background-color: rgb(140, 127, 255); }
    100% { background-color: rgb(255, 123, 123); }
}

nav a{
    padding-right: 0px;
    display: flex;
    font-size: 50px;
    text-decoration: none;
    background-color: var(--text);
    background: linear-gradient(to right rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: pfp-color-change 1.4s infinite;
    
}

@keyframes color-change{
    0% { color: rgba(47, 243, 224, 0.4); }
    25% { color: rgba(248, 210, 16, 0.4); }
    50% { color: rgba(250, 38, 160, 0.4); }
    75% { color: rgba(245, 23, 32, 0.4); }
    100% { color: rgba(47, 243, 224, 0.4); }
}

nav a img{
    display: flex;
    border: 4px solid;
    border-radius: 50%;
    margin-right: 15px;
    
}

nav a i{
    border: 1px solid;
    display: block;
    padding-top: auto;
    padding-bottom: auto;
    padding: auto;
}

.fa-solid.fa-circle-half-stroke{
    visibility: visible;
    display: block;
    font-size: 25px;
    background-color: transparent;
    color: var(--text);
    transition: 0.5s;
}
.logo{
    width: 100px ;
    

}
nav ul{
    transition: 0.5s;
}
nav ul li{
    align-self: center;
    border-radius: 15px;
    display: inline-block;
    list-style: none;
    margin: 15px 10px;
    transition: 0.2s;
    &:hover{
        box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.4) inset, -3px -3px 3px rgba(0, 0, 0, 0.4) inset;
    }
    &:active{
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4) inset, -3px -3px 3px rgba(255, 255, 255, 0.4) inset;
    }
    
}



nav ul li a{
    animation: none;
    border: none;
    padding: 10px 20px;
    color: var(--text);
    text-decoration: none;
    font-size: 30px;
    position: relative;
    display: inline-block; 
    border-radius: 20px;
    transition: 0.5s;
    &:hover{
        background-color: var(--hover-color);
        color: white;
    }
}
/* nav ul li a img {
    display: inline-block;

} */

/* bar under the nav buttons (not used) */
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--hover-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    background-color: var(--hover-color);
    /* width: 100%; */
}

.header-text{
    display: block;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    color: var(--pfp-color);
    background: transparent;
    margin-top: 100px;
    font-size: 200px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.header-text h1{
    color: var(--text);
    font-size: 30px;
    margin-top: min(70px, 5%) ;
    text-align: center;
}

.header-text img{
    object-fit: fill;
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 0px solid;
    transform: translateZ(20px)
}

.pfp{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 10px solid;
    width: 280px;
    height: 280px;
    transition: 0.5s;
}
.pfp *{
    transform: translateZ(50px)
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
/* @property --cursor-color-change-11{
    syntax: "<color>";
    inherits: false;
    initial-value: black;
} */
.pfp::after, .pfp::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), black, white, black, white, black);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    z-index: -1;
    padding: 8px;
    animation: spin 3s linear infinite;
}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}
.pfp::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes pfp-color-change{
    0% { color: rgb(255, 123, 123); }
    33% { color: var(--theme_color); }
    66% { color: rgb(214, 54, 115); }
    100% { color: rgb(255, 123, 123); }
}

.header-text h1 span{
    margin: -5px 10%;
    background-clip: text;
    display: block;
    background-image: linear-gradient(#eee, #000000);
    font-size: 80px;
    animation: color-change 4.5s infinite;
    
}

/* ------------about------------ */

#about{
    padding: 80px 0;
    color: #c06e87;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
    transition: all ease 0.5s;
    padding-bottom: 30px;
}

#user_image_container{
    position: relative;
    width: 800px;
    height: 800px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    max-width: 100%;
    filter: saturate(50%);
    transition: all ease 0.5s;
    &:hover{
        filter: saturate(100%);
    }
}

#user_image_container > *{
    position: absolute;
    inset: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.about-col-1 img{
    inset: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    border-radius: 15px;
}


.about-col-2{
    flex-basis: 60%;
}

.about-col-2 p{
    font-size: 27px;
    text-align: justify;
    text-justify: inter-word;
}

.sub-title{
    font-size: 80px;
    font-weight: 600;
    color: var(--text);
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}

.tab-links {
    color: var(--menu_color);
    margin-right: 90px;
    font-size: 170px; /* Larger font size for all tabs */
    font-weight: 600; /* Bolder text */
    /* cursor: pointer; */
    position: relative;
    transition: 0.5s;
    &:hover{
        color: var(--theme_color);
    }
}
.tab-links:hover::after{
    width: 25%;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--subtitle_color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 20px 0;
    font-size: 27px;
}

.tab-contents ul li span{
    color: #fff;
    font-size: 30px;
   
}

.tab-contents{
    display: none;
    
}

.tab-contents.active-tab{
    display: block;

}
.chart {
    /* display: flex; */
    display: inline-block;
    position: relative;
    width: 450px;
    height: 450px;
    top: 50%;
    left: 50%;
    /* margin: -225px 0 0 -225px; */
  }
  .pieTip {
    position: absolute;
    float: left;
    min-width: 30px;
    max-width: 300px;
    padding: 5px 18px 6px;
    border-radius: 2px;
    background: rgba(255,255,255,.97);
    color: #444;
    font-size: 19px;
    text-shadow: 0 1px 0 #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
    letter-spacing: .06em;
    box-shadow: 0 0 3px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.5);
    -webkit-transform: all .3s;
       -moz-transform: all .3s;
        -ms-transform: all .3s;
         -o-transform: all .3s;
            transform: all .3s;
    pointer-events: none;
  }
  .pieTip:after {
        position: absolute;
        left: 50%;
        bottom: -6px;
        content: "";
        height: 0;
        margin: 0 0 0 -6px;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        border-top: 6px solid rgba(255,255,255,.95);
        line-height: 0;
  }
.logos{
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: var(--menu_color);
    border-radius: 20px;
    padding: 30px 0;
    .marquee{
        width:100vw;
        max-width: 100%;
        height:128px;
        overflow: hidden;
        position:relative;
        .track{
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 5s linear infinite;
            display:flex;
            gap:10px;
            &:hover{
                animation: marquee 2s linear infinite
            }
        }
    }
}
@keyframes marquee {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}

/* --------------services----------- */
#services{
    padding: 30px 0;
    color: var(--text-muted);
}
.services-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: var(--bg);
    padding: 40px;
    font-size: 17px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    color: var(--text);
    font-size: 50px;
    margin-bottom: 30px;
}


.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}


.services-list div a{
    text-decoration: none;
    color: #858cd9;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div a i{
    color: #858cd9;
    font-size: 16px;
}

.services-list div:hover{
    background: rgb(109, 10, 48);
    transform: translateY(-10px);
}

/* -------------portfolio-------------- */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(var(--project-layer-color-up), var(--project-layer-color-down));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
    transition: height 0.5s;
    color: var(--text-muted);
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;

}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--theme_color);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    background: var(--bg-light);
    color: var(--text);
    transition: background 0.5s;
}

.btn:hover{
    background: #ff004f;

}

/* ---------------------------contact--------------- */


.contact-left{
    flex-basis: 35%;

}

.contact-right{
    flex-basis: 60%;
    
}


.contact-left p{
    padding-right: -500px;
    margin: 30px;
    transition: 0.5s;
    &:hover{
        transform: translateY(-5px);
    }
}

.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.contact-left p a{
    color: var(--text);
    text-decoration: none;
    font-size: 18px;
    transition: transform 0.5s;
    &:hover{
        color: #ff004f;
    }
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: var(--text-muted);
    display: inline-block;
    transition: transform 0.5s;
}


.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #ff004f;
    transition: font-size 0.2s; 
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
    background: var(--bg-light);
    color: var(--text);
    border: 3px solid #ff004f;
    border-radius: 20px;
    background-image: url(images/nav-bg-fill.png);
    background-repeat: repeat-x;
    background-position: 20%-100%;
    transition: 1s ease;
    
    &:hover {
        background-color: transparent;
        background-position: center;
    }
    &:nth-child(1){
        filter: hue-rotate(0deg);
    }
    &:nth-child(2){
        filter: hue-rotate(20deg);
    }
}

.btn.btn2:hover{
    transform: translateY(-5px);
    /* cursor: pointer; */
}

.contact-right form{
    padding-right: 5%;
    width: 100%;
}

form input, form textarea{
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
    background: var(--bg_color);

    width: 100%;
    border: 0;
    outline: none;
    background: #9a4f73;
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form ::placeholder{
    
    color: #d88db1;
}

form btn2{
    
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #9a4f73;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i{
    color: #ff004f;
}

/* -----------------css for small screens------------- */
nav .fa-solid.fa-bars{
    display: none;
}
nav .fa-solid.fa-xmark{
    display: none;
}

@media only screen and (max-width: 888px){

    /* .circle{
        visibility: hidden;
    } */
    

    #header{
        background-image: url(images/background-phone.png);
        flex-direction: columns;
        align-items: center;
        overflow: hidden;
        background-attachment: fixed;
    }
    .header-text{
        margin-top: 40%;
        font-size: 16px;
    }
    .pfp{
        width: 190px;
        height: 190px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav {
        position: fixed; 
        width: 100%;
        margin: 0;
        padding: 20px 5%;
    }

    nav ul {
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        background: rgba(80, 0, 49, 0.6);
        
        border: 5px solid var(--theme_color);
        border-radius: 15px;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid.fa-xmark{
        position: absolute;
        top: 35px;
        left: 25px;
        /* cursor: pointer; */
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1{
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 30px;
    }
    .about-col-2{
        margin-left: 5%;
        margin-right: 5%;
        font-size: 11px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .chart{
        padding: 0 20%;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}

#msg{
    color: #61b752;
    margin-top: -45px;
    margin-left: 5px;
    display: block;
}